* {
    margin: 0;
    padding: 0;
    gap: 5px;
    border-radius: 5px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#calculator-body {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 2px;
}

#middle-buttons {
    display:flex;
    flex: 3;
}

#number-buttons {
    display: flex;
    flex: 2;
}

.numbers {
    display: flex;
    flex-direction: column;
}


#screen {
    background-color: lightgray;
    position: relative;
    border: 2px solid lightblue;
    flex: 2;
}

#screen p {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    color: blue;
    flex: 1;
}

#button-container {
    display: flex;
    flex-direction: row;
}